:root {
    scroll-behavior: smooth;
     --main-color: #39383b;
}


.line::before {
    content: "";
    display: inline-block;
    width: 75px;
    height: 4px;
    background: linear-gradient(90deg,#82c5dc,#82c5dc 20%,#f8be52 0,#f8be52 40%,#f8be52 0,#f8be52 60%,#f35d22 0,#f35d22 80%,#39383b 0,#39383b);
}

div.slider__item img{
    max-height: 1000px;
}

.whiteline::before {
    content: "";
    display: inline-block;
    width: 85.5px;
    height: 3px;
    background: white;
}

body {
    margin: 0px auto;
    font-family: 'Yantramanav';
}

header#home {
    background: url('../img/bg-header.png') no-repeat;
    background-size: cover;
    min-height: 1000px;
}

div.header-mine{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px;
}

div.taglinelogo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.taglinelogo h2 {
    color: white;
    font-size: 100px;
    font-family: 'Titan One', cursive;
    text-align: center;
    margin-bottom: 0px; 
}

div.taglinelogo p{
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.happypaws1 {
    width: 300px;
}

.header-menu {
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 600px
}

nav.header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 40px;
}

div.header-menu a#addserv {
    word-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

div.header-menu a#aboutbt {
    word-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

div.header-menu a#rooms {
    word-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

div.header-menu a#testimonialsbt {
    word-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

div.header-menu a#contactsbt {
    word-spacing: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

div.header-menu a#booknow {
    word-spacing: 3px;
    display: block;
    width: 78px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 23px 30px;
    padding-bottom: 15px;
    padding-top: 16px;
    color: white;
    background-color: #f8be52;
    font-family: 'Titan One', cursive;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 1px 1px black;
}

.logodog {
    padding-top: 100px;
    width: 590px
}

.ourroomsbtn {
    word-spacing: 3px;
    display: block;
    width: 85px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 23px 30px;
    padding-bottom: 15px;
    padding-top: 16px;
    color: white;
    background-color: #f8be52;
    font-family: 'Titan One', cursive;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    margin-bottom: 80px;
}


h2.roomsgallery {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

div.rooms-top-bg{
    background: url(../img/bg-top.png) no-repeat;
    background-size: cover;
    height: 150px ;
    margin-bottom: -45px;
}

div.roomsgallery{
    background: rgb(249, 245, 240);
    padding-bottom: 60px;
    padding-top: 30px;
}

div.roomsmain{
    text-align: center;
}

div.gallery-scroll{
    display: flex;
    justify-content: space-between;
}

div.roomsmain p{
    max-width: 800px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0px;
}
div.roomsmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

div.gallery-scroll article img{
    max-width: 350px;
    max-height: 200px;
}

div.gallery-scroll article{
    font-size: 20px;
    font-family: 'Titan One', cursive;
    color: var(--main-color);
    text-align: center;
}

a#roomsbtn{
    word-spacing: 3px;
    display: block;
    width: 78px;
    height: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 23px 30px;
    padding-bottom: 15px;
    padding-top: 16px;
    color: white;
    background-color: #f8be52;
    font-family: 'Titan One', cursive;
    font-size: 13px;
    border-radius: 5px;
}
div.rooms-button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

div.rooms-bottom-bg{
    background: url(../img/bg-bottom.png) no-repeat;
    background-size: cover;
    height: 70px;
    margin-bottom: 50px;
}

h2.booking {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h2.about {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h2.staff {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h3#staff {
    font-family: 'Titan One', cursive;
    color: #39383b
}

span#staff {
    font-weight: 300
}

h2.partners {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h2#testimonials {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h3#kelly {
    font-family: 'Titan One', cursive;
    font-size: 25px;
    color: #39383b
}

h2#gallery {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h3.gallery {
    font-family: 'Titan One', cursive;
    font-size: 25px;
    color: #39383b
}

h2#contacts {
    font-family: 'Titan One', cursive;
    font-size: 50px;
    color: #39383b
}

h3.contacts {
    font-family: 'Titan One', cursive;
    font-size: 25px;
    color: #39383b
}

div.foot {
    height: 150px;
    background-color: #39383b;
}

div.logo1 {
    background: url(../img/bg-footer.png) no-repeat;
    padding: 100px;
    height: auto;
}

div.footbg {
    background-color: #39383b;
    padding: 70px;
}



div.introduction {
    background: url(../img/bg-werehere.png) no-repeat;
    background-size: cover;
    min-height: 620px;
}

img#iconfood {
    width: 40px;
    background-color: rgb(246, 164, 12);
    padding: 12px;
    border-radius: 50%;
}

img#iconwater {
    width: 40px;
    background-color: rgb(77, 162, 3);
    padding: 12px;
    border-radius: 50%;
}

img#iconcar {
    width: 40px;
    background-color: rgb(44, 177, 223);
    padding: 12px;
    border-radius: 50%;
}

img#iconball {
    width: 40px;
    background-color: rgb(231, 65, 0);
    padding: 12px;
    border-radius: 50%;
}

.introheading {
    font-size: 50px;
    font-family: 'Titan One';
    color: var(--main-color);
    text-align: center;
}

.introparag {
    font-size: 20px;
    text-align: center;
}

div.articles {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-height: 350px;
    max-width: 1200px;
    text-align: left;
}

@media (max-width:1200px){
    div.articles article{
        max-width: 500px;
        width: 500px;
        height: 250px;
        flex-wrap: wrap;
   }
}

div.articles article{
    max-width: 220px;
    max-height: 371px;
    border-radius: 7px;
    color: white;
    padding: 70px 21px;
    padding-top: 25px;
}

#art1 {
    background: #f8be53;
}

#art2 {
    background: rgb(124, 188, 68);
}

#art3 {
    background: #82c5dc;
}

#art4 {
    background: rgb(243, 93, 34);
}

h3.artt1 {
    font-family: 'Titan One', cursive;
    font-size: 22px;
}

h3.artt2 {
    font-family: 'Titan One', cursive;
    font-size: 22px;
}

h3.artt3 {
    font-family: 'Titan One', cursive;
    font-size: 22px;
}

h3.artt4 {
    font-family: 'Titan One', cursive;
    font-size: 22px;
}



div.booking {
    display: flex;
    flex-wrap: wrap;
    background: url(../img/bg-needaplace.png) no-repeat;
    background-size: cover;
    padding-bottom: 35px;
}

div#bookingimg {
    margin-right: 20px;
    max-width: 1200px;
    margin-left: -200px;
}

div.booking-main {
    max-width: 600px;
    text-align: center;
    margin-top: 100px;
}

div.booking-tagline p {
    font-size: 20px;
    font-weight: bold;
}

div.booking-form form {
    border: none;
}

#bookingbt {
    border: none;
    outline: none;
    background-color: #82c5dc;
    padding: 17px 200px;
    border-radius: 5px;
    color: white;
    font-family: 'Titan One', cursive;
    margin-top: 20px;
}

div.aboutus {
    display: flex;
    justify-content: center;
    margin-left: auto;
    flex-wrap: wrap;
    background: url(../img/bg-about.png)no-repeat;
    background-size: cover;
}

div.aboutus p{
    text-align: left;
}

div.aboutimgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 60px;
    max-width: auto;
    max-height: auto;
}

div.aboutimgs img {
    max-width: 300px;
    max-height: 300px;
    flex-wrap: wrap;
}

div.aboutus article {
    align-items: center;
    text-align: left;
    max-width: 550px;
    margin-left: 30px;
    margin-top: 60px;
}

div.aboutus article p {
    font-weight: bold;
}

.aboutbg1 {
    background: url(../img/bg-top.png)no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.aboutbg2 {
    background: url(../img/bg-bottom.png)no-repeat;
    background-size: cover;
    padding-top: 100px;
}

div.staff1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 2000px;
    background: url(../img/bg-staff.png) no-repeat;
    background-size: cover;
}

div.staff1 img {
    max-width: 440px;
}

div.staff h2, .line {
    text-align: center;
}

div.staff h3, p {
    text-align: center;
}

div.staff img {
    size: 100%;
}

.wall1 {
    color: #f8be52;
    font-weight: bold;
}

.wall2 {
    color: rgb(124,188,68);
    font-weight: bold;
}

.wall3 {
    color: #82c5dc ;
    font-weight: bold;
}

.wall4 {
    color: #f35d22;
    font-weight: bold;
}
