
body{
margin: 0px; 
font-family: 'Yantramanav';
}
header{
background: url('../img/bg-header.png') no-repeat;
background-size: 117% auto;
height: 1000px;
background-position-x: -170px;
}
h2.tagline{
position: absolute;
left: 370px;
text-align: center;
color: white;
font-size: 100px;
font-family: 'Titan One', cursive;
}
p.tagline {
color:white;
position: absolute;
left: 370px;
top: 540px;
text-align: center;
font-size: 19px;
}
.whitedog{
width: 33%;
}
.whitecat{
width: 33%;
}
.cutycat{
width: 33%;
}
.gingercat{
width: 33%;
}
.happypaws1{
margin-left: 183px;
margin-top: 35px;
width: 15%;
}
.menu{
position: absolute;
left: 950px;
top: 50px;
word-spacing: 20px;
}
.tagline{
padding-top: 70px;
padding-bottom: 120px;
}
.logodog{
position: absolute;
left: 960px;
top: 190px;
width: 590px
}
.ourroomsbt{
position: absolute;
left: 590px;
top: 720px;
}
.introduction{
background: url(../img/bg-werehere.png);
background-position: center;
margin-top: 60px;
margin-bottom: 600px;

}
.art1{
max-width: 220px;
position: absolute;
left: 370px;
top: 1235px;
background:#f8be52;
border-radius: 7px;
color: white;
padding: 90px 21px;
}
.art2{
max-width: 220px;
position: absolute;
left: 665px;
top: 1235px;
background:rgb(124, 188, 68);
border-radius: 7px;
color: white;
padding: 90px 21px;
}
.art3{
max-width: 220px;
position: absolute;
left: 958px;
top: 1235px;
background:#82c5dc;
border-radius: 7px;
color: white;
padding: 90px 21px;
}
.art4{
max-width: 220px;
position: absolute;
left: 1250px;
top: 1235px;
background:rgb(243, 93, 34);
border-radius: 7px;
color: white;
padding: 90px 21px;
}
.introheading{
position: absolute;
left: 510px;
top: 1025px;
font-size: 50px;
font-family: 'Titan One';
color: #39383b
}
.introparag{
position: absolute;
left: 640px;
top: 1125px;
font-size: 20px;
text-align: center;
}
h3.artt1{
font-family: 'Titan One', cursive;
font-size: 22px;
}
h3.artt2{
font-family: 'Titan One', cursive;
font-size: 22px;
}
h3.artt3{
font-family: 'Titan One', cursive;
font-size: 22px;
}
h3.artt4{
font-family: 'Titan One', cursive;
font-size: 22px;
}
/*
.roomsgallery{
background: url(../img/bg1-rooms.png), url(../img/bg3-rooms.png), url(../img/bg2-rooms.png);
background-position: top, center, bottom;
}
*/
h2.roomsgallery{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h2.booking{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h2.about{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h2.staff{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h3#staff{
font-family: 'Titan One', cursive;
color: #39383b
}
span#staff{
font-weight: 300
}
h2.partners{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h2#testimonials{
   font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b 
}
h3#kelly{
font-family: 'Titan One', cursive;
font-size: 25px;
color: #39383b  
}
h2#gallery{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h3.gallery{
font-family: 'Titan One', cursive;
font-size: 25px;
color: #39383b  
}
h2#contacts{
font-family: 'Titan One', cursive;
font-size: 50px;
color: #39383b
}
h3.contacts{
font-family: 'Titan One', cursive;
font-size: 25px;
color: #39383b 
}
div.foot{
height: 150px;
background-color: #39383b;
}
div.logo1{
background: url(../img/bg-footer.png) no-repeat;
padding: 100px;
height: auto;}
div.footbg{
background-color: #39383b;
padding: 70px;
}
